* {
    box-sizing: border-box;

}

body {
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
}

#Wrapper {
    max-width: 960px;
}

#head {
    width: 100%;
    background-color: #ffffff;
    border-bottom: #cccccc;
    border-width: 2px;
    border-style: solid;
}

#header {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 200px;
    height: 100px;
    margin-top: 0;
    margin-left: 100px;
}

#nav {
    float: right;
}

#main{
    background-color: #ffffff;
    width: 650px;
    border: solid 2px #000;
}

#about{
    color: #4aaaa5;
    clear: both;
}

#bio{
    float: left;
}

#sidebar {
    float: left;
    border: solid 2px #000;
}